[submodule "component/daemon"]
	path = component/daemon
	url = https://github.com/penlook/daemon.git
[submodule "component/socket"]
	path = component/socket
	url = https://github.com/penlook/socket.git
